/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* my css */

:root {
  /* Typography */
  --font-default: "Roboto", sans-serif;

  /* Icon sizes */
  --icon-size: 2rem;

  /* Colors */
  --color-background: #232323;
  --color-background-alt: #1c1c1c;
  --color-highlight: #2a2a2a;
  --color-font: #ffffff;
  --color-hover: rgba(255, 255, 255, 0.2);

  /* Layout & spacing */
  --gap-small: 0.2rem;
  --gap-medium: 0.5rem;
  --gap-default: 1rem;

  /* Border radius */
  --radius-small: 5px;
  --radius-default: 10px;
}

* {
  font-family: var(--font-default);
  color: var(--color-font);
}

button {
  display: flex;
  align-items: center;
  gap: var(--gap-default);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  text-align: left;
  cursor: pointer;
}

textarea,
select,
input {
  background: none;
  border: none;
  color-scheme: dark;
}

form {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.selectable:hover {
  background: var(--color-hover);
}

#projects-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: var(--gap-default);
}

#projects-pane ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project {
  display: flex;
  align-items: center;
  gap: var(--gap-default);
}

#todo-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-alt);
  border-radius: var(--radius-default);
  padding: var(--gap-default);
}

#todo-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-default);
}

.todo-category {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.drop-down {
  display: flex;
  gap: var(--gap-default);
  align-items: center;
  width: fit-content;
  cursor: default;
  padding-right: var(--gap-default);
}

.todo-category-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo {
  display: flex;
  gap: var(--gap-default);
}

.todo-task {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--gap-default);
}

.task-details {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.highlighted {
  background-color: var(--color-highlight);
  border-radius: var(--radius-small);
}

footer {
  margin-top: auto;
}

footer button {
  width: fit-content;
}

#close-edit-pane {
  margin-left: auto;
}

.check-toggle input,
.star-toggle input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.check-toggle .icon,
.star-toggle .icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.check-toggle .icon {
  background-image: url("./assets/shape-circle-svgrepo-com.svg");
}

.check-toggle input:checked + .icon {
  background-image: url("./assets/checkmark-circle-svgrepo-com.svg");
}

.star-toggle .icon {
  background-image: url("./assets/star-sharp-svgrepo-com.svg");
}

.star-toggle input:checked + .icon {
  background-image: url("./assets/star-sharp-marked-svgrepo-com.svg");
}
